[submodule "unilidar_sdk"]
	path = Drivers/unilidar_sdk
	url = https://github.com/CPP-Aerial-Vision-Analysis-System/unilidar_sdk.git
    branch = ros1

[submodule "rplidar_ros"]
	path = Drivers/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git

[submodule "iq_gnc"]
	path = Simulation/ROS-IQ-Tutorials/iq_gnc
	url = https://github.com/CPP-Aerial-Vision-Analysis-System/iq_gnc.git

[submodule "iq_sim"]
	path = Simulation/ROS-IQ-Tutorials/iq_sim
	url = https://github.com/Intelligent-Quads/iq_sim

[submodule "velodyne_simulator"]
	path = Simulation/velodyne_simulator
	url = https://github.com/CPP-Aerial-Vision-Analysis-System/velodyne_simulator.git

[submodule "pointcloud2_to_apm"]
	path = pointcloud2_to_apm
	url = https://github.com/CPP-Aerial-Vision-Analysis-System/pointcloud2_to_apm.git