<launch>
        
        <include file="$(find iq_sim)/launch/lidar.launch"/>

        <include file="$(find Scripts)/launch/runSitl.launch"/>

        <include file="$(find iq_gnc)/launch/apm.launch"/>

        <node 
                pkg = "iq_gnc"
                type = "avoidance_sol"
                name = "avoidance_sol"
                output = "screen"
        />

</launch>